# Primeros Pasos en Python

In [1]:
print("Hello World!")

Hello World!

# Tipos de datos b√°sicos

In [12]:
a = 1
pi = 3.14159
print(a + pi)

4.14159

In [4]:
a + pi

8.14

In [5]:
print("A vale " + a )

TypeError: must be str, not int

In [6]:
print("A vale " + str(a))

A vale 5

In [7]:
print("A vale",a)

A vale 5

In [13]:
x = a > pi
x

False

In [9]:
x = 8

In [10]:
x

8

In [14]:
b = (5>6) or (7>3)
b

True

# Tuplas

In [15]:
punto = (3.5, 5.6, -2.0, 0.0, "no soy numero")
punto

(3.5, 5.6, -2.0, 0.0, 'no soy numero')

In [16]:
print("La tupla tiene", len(punto), "elementos")
print("El elemento 2 vale", punto[2])

La tupla tiene 5 elementos
El elemento 2 vale -2.0

In [18]:
# Slices
print("Un slice: ", punto[1:3])

Un slice:  (5.6, -2.0)

In [19]:
punto[:3]

(3.5, 5.6, -2.0)

In [20]:
punto[2:]

(-2.0, 0.0, 'no soy numero')

In [21]:
punto[2] = 56

TypeError: 'tuple' object does not support item assignment

# Listas

In [22]:
lista1 = [56, 32, "pedro", 4.5, -1]

In [23]:
lista1[2] = 1.0
lista1

[56, 32, 1.0, 4.5, -1]

In [24]:
lista1.append("hola")
lista1

[56, 32, 1.0, 4.5, -1, 'hola']

# Diccionarios

In [26]:
persona = { "nombre": "Juan", "edad": 18, "direccion": "Buenos Aires"}

In [27]:
persona

{'nombre': 'Juan', 'edad': 18, 'direccion': 'Buenos Aires'}

In [28]:
persona["nombre"]

'Juan'

In [29]:
persona2 = {
    "nombre": "Pedro",
    "edad": 25,
    "direccion": "Rosario"
}
personas = [persona, persona2]
personas

[{'nombre': 'Juan', 'edad': 18, 'direccion': 'Buenos Aires'},
 {'nombre': 'Pedro', 'edad': 25, 'direccion': 'Rosario'}]

# Ciclos
Sumar los numeros del 0 al 100 inclusive.

In [30]:
5050

5050

In [31]:
acum = 0
for i in range(101):
    acum = acum + i
acum

5050

In [32]:
acum = 0
for i in range(50,101):
    acum = acum + i
acum

3825

Suma de n√∫meros del 0 al 10000 que son divisibles por 7.

In [33]:
acum = 0
for i in range(0,10000):
    if i % 7 == 0:
        acum = acum + i
acum

7142142

Considerar n√∫meros del 0 al 10000. Si son divisibles por 5, sumarlos, en caso contrario, restarlos.

In [34]:
if 5 > 3:
    print("hola")
else:
    print("chau")

hola

In [35]:
if 5 > 3:
    print("hola")
elif 5 > 0:
    print("dfgdffg")
else:
    print("chau")

hola

In [36]:
acum = 0
for i in range(10001):
    if i % 5 == 0:
        acum += i
    else:
        acum -= i
acum

-29995000

In [37]:
acum = 0
for i in range(10001):
    if i % 5 == 0:
        acum += i
    elif i % 3 == 0:
        acum += i**4
    else:
        acum -= i
acum

5336667998249471210

In [38]:
acum = 0
n = 1
while acum < 10000:
    acum += n
    n = n + 1
n

142

# Funciones

In [40]:
def sumador(n):
    acum = 0
    for i in range(n+1):
        acum += i
    return acum

sumador(1000)

500500

# La Ruina del Jugador.

In [41]:
import random

In [42]:
random.random()

0.26721773215967715

In [43]:
random.random()

0.9056833077040247

Para la clase que viene.

1) Definir una funci√≥n es_primo que dado un n√∫mero natural, devuelva True si el n√∫mero es primo.

2) implementar una funci√≥n que dada una lista de n√∫meros, devuelva la cantidad de n√∫meros primos que contiene.

3) Definir una funci√≥n que dado una cadena de caracteres de n√∫meros separados por coma, devuela la suma de los n√∫meros. Ejemplo: "34,70,2" debe devolver 106.

4) Busque en Python como ordenar una lista.

5) Una terna pitag√≥rica es un conjunto de naturales a, b y c tales que $a^2$ + $b^2$ = $c^2$. Hallar una terna pitag√≥rica tal que $a + b + c = 1000$, si existe.